
<%def name="renderControl(id_name, value, props)" >
  %if props.html_type == "checkbox":
    <label class="checkbox">
      ${props.html_extra_label}
      <input \
        type="checkbox" \
        id="${id_name}" \
        name="${id_name}" \
        value="${props.html_default_value}" \
        ${"required" if props.required else ""}>
    </label>
  %else:
      <input \
        class="${getattr(props, 'classes', 'input-xlarge')} ${'focused' if i==0 else ""}" \
        id="${id_name}" \
        name="${id_name}" \
        type="${props.html_type}" \
        value="${value}" \
        ${"required" if props.required else ""} \
        ${'minlength={}'.format(props.min) if getattr(props, 'min', False) else ""}>
        %if getattr(props, 'html_help', False):
          <p class="help-block">${props.html_help}</p>
        %endif
  %endif
</%def>

<%def name="renderFormLine(field_id_name, field, props, values, errors)">
  <div class="control-group${" error" if field in errors else ""}">
    <label class="control-label" for="${field_id_name}">${props.html_label}</label>
    <div class="controls">
      ${self.renderControl(id_name = field_id_name, value=values.get(field, ""), props = props)}
      %if field in errors:
        <span class="help-inline">${errors[field]}</span>
      %endif
    </div>
  </div>
</%def>


<%def name="buildsubform(key, position, schema, values, errors)">
  <${schema.html_tag} class="embedded-form well ${schema.html_classes}" ${'id="template-{}"'.format(key.replace(".","-")) if position == 0 else ""|n}>
  <span class="control-number">${position+1}</span>
  %for i, field in enumerate(schema.form_order):
    <% 
      props = schema.fields[field]
      field_id_name = "{}-{}.{}".format(key, position, field) 
    %>
    ${self.renderFormLine(field_id_name, field, props, values, errors)}
  %endfor
  </${schema.html_tag}>
</%def>



<%def name="buildform(schema, values, errors)">
<%
  values = values[schema.form_id]
  errors = errors[schema.form_id]
%>

   <form method="post" class="form-horizontal" id="${schema.form_id}">
      <input type="hidden" name="type" value="${schema.form_id}"/>
      <input type="hidden" name="furl" value="${schema.getFURL(request)}"/>
      <input type="hidden" name="token" value="${request.session.get_csrf_token()}"/>
      <fieldset>
        <legend>${caller.header()}</legend>
        %for i, field in enumerate(schema.form_order):
          <% 
            props = schema.fields[field]
            field_id_name = "{}.{}".format(schema.form_id, field)
          %>
          
          %if hasattr(props, "validators") and len(props.validators) > 0:
            %for j, (values_, errors_) in enumerate(zip(values.get(field, [{}]), errors.get(field, [{}]))):
              %for subschema in props.validators:
                ${self.buildsubform(field_id_name, j, subschema, values_, errors_)}
              %endfor
            %endfor
            <div class="add-more"><a class="link add-more-listitem" _field_position="${j}" _field_key="${field_id_name.replace(".","-")}" _template="template-${field_id_name}">add one more</a></div>
          %else:
            ${self.renderFormLine(field_id_name, field, props, values, errors)}
          %endif
        %endfor
        <div class="form-actions">
          ${caller.footer()}
        </div>
      </fieldset>
    </form>
</%def>



<%def name="buildValidators(root)">
  ${root}.find("form").each(function(index, form){
    $(form).validate({
      errorClass: "help-inline"
      ,errorElement: "span"
      ,highlight: function (element, errorClass, validClass) {
        $(element).closest(".control-group").addClass("error");
      }
      , unhighlight: function (element, errorClass, validClass) {
        $(element).closest(".control-group").removeClass("error");
      }
    });
  });
  ${root}.on({"click": function(e){
    var $target = $(e.target)
      , templ = $("#template-"+$target.attr("_field_key"))
      , new_node = templ.clone().removeAttr("id")
      , new_position = parseInt($target.attr("_field_position"), 10) + 1
      , inc = function(prop){return prop.replace(/-[0-9]+\./g, "-"+new_position+".")};
    new_node.find("label").each(function(index, elem){
      elem = $(elem); elem.attr("for", inc(elem.attr("for")));
    });
    new_node.find("input,select,textarea").each(function(index, elem){
      elem = $(elem); elem.attr("id", inc(elem.attr("id"))); elem.attr("name", inc(elem.attr("name")));
    });    
    new_node.find(".control-number").html(new_position+1);
    $target.attr("_field_position", new_position);
    $target.closest(".add-more").before(new_node);
    new_node.slideDown();
    
  }}, ".add-more-listitem");
</%def>